---
import Card from "./Card/index.astro";
import { PERSONAL_INFO } from "../data";
---

<Card 
  colSpan="md:col-span-1" 
  rowSpan="md:row-span-6" 
  title="About me"
  href="/about-me"
>
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      {PERSONAL_INFO.whoYouAre.shortIntroduction}
    </p>
    <p class="text-sm font-light">
      {PERSONAL_INFO.whoYouAre.background}
    </p>
  </div>
</Card>
